@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/best_sellers.css");
@import url("components/newsletter.css");



body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  margin: 20px;
  background-color: #856a5d;
}

a {
  text-decoration: none;
}

/* Media Queries */

@media (max-width: 768px){
  body {
    font-size: 13px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .nav {
    flex-wrap: wrap;
    gap: 14px;
    padding: 16px;
    flex-grow: 1;
    flex-direction: row;
  }
  .nav-links {
    width: 80%;
    gap: 14px;
    justify-content: center;
  }
  .btn-nav {
    margin-top: 0;
    padding:0;
  }
  .nav-logo {
    font-size: 15px;
    padding:5px; 
  }
  .nav-links a {
    font-size: 15px;
    order:3; 
  }
  .card-shop {
    width: 200px;
  }
  .news {
    width: 220px;
  }
  .footer {
    font-size: 13px;
    gap: 20px;
  }
  .footer h3 {
    font-size: 18px;
  }
  .footer h4 {
    font-size: 15px;
  }
  .footer p,
  .footer a {
    font-size: 13px;
  }
}


@media (min-width: 768px) and (max-width: 992px){
  body {
    font-size: 15px;
  }
  .nav {
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    margin-bottom: 30px;
  }
  .nav-links {
    width: 100%;
    justify-content: center;
    gap: 20px;
    order: 3;
  }
  .btn-nav {
    margin-top: 0;
  }
  .card-shop {
    width: 200px;
  }
  .news {
    width: 220px;
  }
  .footer {
    font-size: 13px;
    gap: 20px;
  }
  .footer h3 {
    font-size: 18px;
  }
  .footer h4 {
    font-size: 15px;
  }
  .footer p,
  .footer a {
    font-size: 13px;
  }
}


